*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.base{
    background-image: linear-gradient(to bottom left, #3ab3e0, #616fec);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.left-box{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-title{
    color: white;
    font-size: 42px;
    margin-bottom: 30px;
}

.left-description{
    color: white;
    margin-bottom: 30px;
}

.see-pricing-button{
    background-color: #00ca4d;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
}

.right-box{
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
}

.right-title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box{
    border-color: transparent;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
}
.register-button{
    border-width: 0;
    background-color: #1e81ff;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    color: white;
}